.label-1 {
    float: left;
    height: 32px;
    padding-top: 2px;
    position: relative;
    width: 100px;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.cartA .form_line {
    display: block;
    padding-bottom: 8px;
    position: relative;
    width: 270px;
}
.form_line {
    position: relative;
    width: 270px;
}
.text-1, .text-2 {
    width: 154px;
}
.text-4 {
    float: left;
    margin-right: 6px;
    width: 30px;
}
.text-6 {
    float: left;
    width: 50px;
}
.form_line2 {
    position: relative;
    width: 260px;
}

.label-3 {
    font-weight: normal;
    height: 20px;
    position: relative;
    width: 235px;
}

.error-2 {
    color: #FF0000;
    font-size: 11px;
    position: relative;
}

.text-3 {
    float: left;
    margin-right: 6px;
    width: 90px;
}

.text-5
{
    width: 40px;
}

.label-c
{
    position: relative;
    font-weight: normal;
    height: 23px;
    text-align: left;
    width: 120px;
}

.left_field_wrap_2c
{
    height: 32px;
    position: relative;
    width: 235px;
}

.left_field_wrap_2cl
{
    position: relative;
    font-weight: normal;
    height: 23px;
    text-align: left;
    width: 120px;
}